<div class="container">
  <div class="row excerpt-row">
    <div class="excerpt-title col-sm-4">
      <div>
		<% if (item.link) { %>
			<a href="<%- item.link -%>"><%- item.title %></a>
		<% } else { %>
			<a href="<%- config.root %><%- item.path %>"><%- item.title %></a>		
		<% } %>
		<p><%-item.short %></p>
       </div>
    </div>
    <div class="col-sm-8">
      <img class="img-fluid excerpt-img" src="<%- config.root %><%- item.path %><%- item.thumbnail %>"/>
    </div>
  </div>
</div>
	
    <!-- Date and Author -->
    <!-- <p class="blog-post-meta">
        <%= item.date.format(config.date_format) %>
        <% if(item.author) { %>
            by <%- item.author %>
        <% } %>
    </p> -->
    <!-- Content -->
    <!-- <%- item.excerpt || item.content %> -->
    <!-- Only display the Read More link if we are displaying an excerpt -->
    <!-- <% if(item.excerpt) { %>
        <p>
            <a href="<%- config.root %><%- item.path %>">
                <%= theme.excerpt_link %>
            </a>
        </p>
    <% } %> -->
