<div class="blog-post">
    <!-- Title -->
    <h2 class="blog-post-title">
        <a href="<%- config.root %><%- item.path %>">
            <%- item.title || item.link %>
        </a>
    </h2>
    <!-- Date and Author -->
    <p class="blog-post-meta">
        Posted <%= item.date.format(config.date_format) %>
        <br>
        <% if(item.updated) { %>
            Updated <%= item.updated.format(config.date_format) %>
        <% } %>
    </p>
    <!-- Content -->
    <%- item.content %>
    <hr />
    <!-- Tags and Categories links -->

</div>
