<html>
<!-- head tag -->
<%- partial('_partial/head') %>
<body>
	<%- partial('_partial/menu')%>
	<div class="layout_container">
		<div id="sidebar">
			<%- partial('_partial/header') %>
			<%- partial('_partial/sidebar') %>
		</div>
		<div>
			<%- body %>
		</div>
	</div>
</body>
</html>
